/*************************************
*Styling for account settings page****
*************************************/
h2{
	margin-bottom: 5px;
}
.settings{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border-radius: 3px;
	min-height: 400px;	
	max-width: 600px;
	margin-top: 10px;
	text-align: left;
	padding: 10px;
}

.settings span{
	min-width: 500px;
}

.thin {
    border: 1px solid white;
    box-shadow: 0 1px 0 gray;
}
.box {
   box-shadow: 0 0 1px black;
}

.acctBtns{
	float: right;
}

.section{
	padding: 10px;

}

.delete{
	text-align: center;
}

.dltAccount{
	background-color: #d9534f;

}

.settings button{
	padding: 8px 15px;
	border-radius: 5px;
}

.dltAccount:hover{
	color:white;
	background-color: #C34A47;
}

.breadCrumb{
	margin-bottom: 5px;

}

a  {
	text-decoration: none;
}

.settings input{
	min-width: 300px;
	padding: 3px;
	font-size: 1em;
	border-radius: 3px;

}

.desc{
	max-width: 75%;
}