/*****Style sheet applied to the FoodData.php file*******/


/*******Main content styling center of page********/
.content-wrapper{
	height: 70%;
	margin-left: auto;					
	margin-right: auto; 					
	text-align: left;					
}
.content{
	width: 80%;	
	margin: 0 auto;	
	display: flex;

}

.left, .right{
	width: 50%;
	text-align: center;
	padding: 1%;
	min-width: 250px;
	min-height: 300px;
}

/*//////////////////left side styling////////////////////
//////////////////////////////////////////////////////*/
.left{
	display: flex;	
	flex-direction: column;
	width: 50%;	
	min-width: 400px;
}
.addbtn{	
	padding-bottom: 3%;
}
.addbtn button{
	width: 40%;
	min-width: 130px;
}
.input{	
	display: none;		
	text-align: left;	
	padding: 5%;	
	justify-content: center;
	margin: 0 auto;
	width: 80%;
	background-color: #DCDCDC;
	border: solid;
	border-width: 5px;
	border-width: 3px;
	border-radius: 8px;
	border-style: outset;
}
.foodInputs{
	flex-direction: column;
	display: flex;
}
.topFood{	
	width: 100%;
	display: inline;
	float: left;
}
.innerFoodBoxLeft{
	width: 50%;
	float: left;
}
.innerFoodBoxRight{
	width: 50%;
	float: right;
}

.bottomFood{
	
	float:right;
	width: 100%;
	display: inline;
}

.saveCancel button{
	
	width: 30%;
	min-width: 60px;

}
.saveCancel{
	text-align: right;
	padding-top: 3%;
	display: block;
}
.foodInputs select, input{
	padding:2px;
	margin: 5px 5px 5px 0px;
	
	border-radius: 5px;
	width: 70%;

}
textarea:focus, input:focus{
    outline: none;
}

/*/////////////right side styling//////////////////////
/////////////////////////////////////////////////////*/
.right{
	width: 50%;
	display: flex;
	flex-direction: column;
}

/*/////////////right select-box//////////////////////*/
.right select{
	width: 90%;	
	text-align: left;	
	outline: none;

	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
	display: inline;
	margin: 0 auto;
}

option {
	padding: 5px;
}

option:hover{
	background-color:#4682B4;
	color: white; 
}
/*///////Edit and Delete Buttons////////////////*/
.editDelete{
	display: inline;
	margin: 10px;
}
.editDelete button{
	min-width: 90px;
	width: 40%;
}
/*//////////////Button Style////////////////////*/

button{
	width: 20%;	
}

#msgInput {

text-align: left;

}
