/*****Style sheet applied to the index.php file*******/
.content{
	width: 100%;	
	justify-content: center;
	display: flex;	


}

.buttons{
	display: flex;	
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	

}

.indexBtns{
	margin:0 auto;
	margin-bottom: 3%;
	padding: 15px;	
	width: 50%;
	font-size: 150%;
	
}
