/**************************************
*************Message Box***************/

.messageBox{
	display: table;  
    margin: 0 auto;
    width: 250px;
    min-height: 100px;
    
    
	padding: 2%;
	background-color: #DCDCDC;
	border: solid;
	border-width: 5px;
	border-width: 3px;
	border-radius: 8px;
	border-style: outset;
}

.messageBox button{
	min-width: 60px;
}

#messageCancel{
	display: none;
}

#loaderContainer {

	display: block;   
    	
	text-align:center;
	margin: auto;					 
	height: 100%;
	width: 100%;					
	vertical-align: middle;
	
	} 
		
#msgContainer {

 	display: none;   
    	align-items: center;
	position: absolute;
	left: 0;
    	right: 0;
   	top: 0;
   	bottom: 0;
	text-align:center;
	margin: auto;
	height: 100%;
	width: 100%;
	
	} 
	
button{
	border-radius: 3px;
	
	font-weight: bold;
	padding: 5px;	
	width: 20%;
	color:white;	
	outline: none;	
	background-color: #4682B4;
}

button:hover{
	background-color: #ffffff;
	color: #4682B4;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}