/**************************************
*************Message Box***************/


.messageBox{
	display: table;
	
    
    margin: 0 auto;
    width: 300px;
    min-height: 100px;
	padding: 2%;
	background-color: #DCDCDC;
	border: solid;
	border-width: 5px;
	border-width: 3px;
	border-radius: 8px;
	border-style: outset;
}

.messageBox button{
	min-width: 75px;
}

#messageCancel{
	display: none;
}

#loaderContainer {

	display: block;
	text-align:center;
	margin: auto;					 
	height: 100%;
	width: 100%;					
	vertical-align: middle;
	
	} 
		
#msgContainer {

 	display: none;   
    	align-items: center;
	position: fixed;
	left: 0;
    	right: 0;
   	top: 0;
   	bottom: 0;
	text-align:center;
	margin: auto;
	height: 100%;
	width: 100%;
	
	} 
	
.msgBoxBtn{
	width: 20%;		
}

.msgBoxBtnBig{
	width: 40%;		
}

.downloadLink a:link {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

.downloadLink a:hover {
    background-color: red;
}


