/****Styling for navigation bar*********/

a{ color:white };

#navbar table tr td:not(#currentPage){
  
  
}

#navbar li a:hover:not(#currentPage):not(.logoutIcon){
  background-color: #3F75A2;
}

#currentPage{
  background-color: white;
  color:#4682B4;
  pointer-events: none;
  cursor: default;     
}

#currentPage a{
	
	color:#4682B4;
	
	}

#navbar li:not(.links){
  float:none;
  margin:0 auto;  
}

#navbar table {	
  font-size: 18px;
  font-weight: semi-bold;
  background-color: #4682B4;
  border-collapse: collapse;
  border-width: 0px;
}

#navbar table tr td:not(.logoutIcon):not(.linkIcon){
	text-align: left;
	vertical-align: middle;
	padding: 20px;
	padding-left: 30px;
	}
	
 .link {
	width:150px;
	}

.linkIcon {
	width:60px;
	}	

	
#navbar table tr td .link a {text-decoration: none}
	
	
#navbar table tr td .link {
	
	 background-color: #4682B4;
	
	}

#navbar li {
  float: left;

}

#navbar li a, #login, #newUser, #forgotPassword, .qlink {
  display: block;  
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  
}

#login, #newUser, #forgotPassword{
  text-align: center;
  color: white;
}

/**************Styling for icons******************/

.logoutIcon{
  background-color: #d9534f;  
}

.logoutIcon:hover{
  background-color: #C34A47;
}

.qlink{
  color: white;
}

.qlink:hover:not(.loader){
  background-color: #3F75A2; 
  cursor: pointer;
}